{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./packages/*/tsconfig.json", "./tsconfig.json"]
  },
  "plugins": ["prettier", "react", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-shadow": "error",
    "no-shadow": "off",
    "no-useless-constructor": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/extensions": [
      "error",
      {
        "ts": "never"
      }
    ],
    "quotes": ["warn", "double"],
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "linebreak-style": ["error", "windows"]
  }
}
